.detailtContainer {
  height: calc(100vh - 4rem);
  position: relative;
  top: -4rem;
  z-index: -1;
}
.detailBanner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 55vh;
  filter: brightness(0.7);
  box-shadow: 0 -5rem 3rem var(--bg) inset;
}
.detailContent {
  max-width: 1440px;
  width: 100%;

  height: auto;
  margin: auto;

  position: relative;
  top: -8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.detailPoster {
  width: 256px;
  height: 341px;
  border-radius: 0.4rem;
  flex-shrink: 0;
  overflow: hidden;
  border-left: 0.4rem solid white;
  border-right: 0.4rem solid white;
}
.detailPoster > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infoDetail {
  display: flex;
  align-items: center;
}
.detailDesc {
  margin-top: 3rem;
}
.detailDesc > h1 {
  font-size: 2.23rem;
  font-weight: 800;
  color: var(--white);
  opacity: 0.9;
  margin-bottom: 0.7rem;
}
.overViewContainer {
  margin-top: 2rem;
}
.overViewContainer > h1 {
  font-size: 1.2rem;
  color: white;
  opacity: 0.9;
  position: relative;
  left: 0.8rem;
}
.overViewContainer > h1::before {
  display: block;
  content: '';
  width: 0.23rem;
  height: 100%;
  background-color: var(--purple);
  position: absolute;
  left: -0.8rem;
}
.overViewContainer > p {
  color: var(--white);
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.99rem;
  text-align: justify;
  margin: 1rem 0;
  padding: 0 1rem;
}
@media (max-width: 814px) {
  .detailContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .descContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
  }
}
